@model DancingGoat.Models.Excavators.ExcavatorFilterViewModel

<h4>@HtmlLocalizer["Dozer processing"]</h4>
@Html.EditorFor(model => Model.ProcessingTypes)

<h4>@HtmlLocalizer["Caffeine"]</h4>
<span class="checkbox js-postback">
    <input asp-for="OnlyDecaf" />
    <label asp-for="OnlyDecaf"></label>
</span>