@using DancingGoat.Models

@model IEnumerable<MenuItemViewModel>

<div class="col-md-6 col-lg-6">
    <ul class="nav-menu">
        @foreach (var menuItem in Model)
        {
            <li>
                <a href="@menuItem.Url">@HtmlLocalizer[menuItem.Caption]</a>
            </li>
        }
        @* Add more *@
        <li>
            <a href="#">About us</a>
        </li>
        <li>
            <a href="#">Contact us</a>
        </li>
        <li>
            <a href="#">Privacy policy</a>
        </li>
    </ul>
</div>