/*Menu Header*/
header {
    background-color: #140a9a;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 70px;
    height: unset;
}

ul.nav-menu li a {
    background-color: transparent;
    padding-top: 25px;
    color: #fff;
    font-weight: 700;
    font-family: "Noto Sans",sans-serif;
}

.searchBox input[type=text] {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 18px;
    padding-left: 40px;
    background: #140a9a;
    color: #fff;
    font-weight: 500;
    width: calc(100% - 44px);
}

.searchBox input[type=text]::placeholder {
    color: #fff;
}

.searchBox,
.searchBox .search-box-btn {
    background-color: #140a9a;
}

.navigation a:not(.logo-link):hover, .navigation a:active {
    color: #ffc82f;
    border-bottom: 3px solid #ffc82f;
}

.search-box-btn:hover {
    background-color: #140a9a;
}

.searchBox .search-box-btn:hover {
    opacity: 1;
}

.nav-menu {
    margin-left: 30%;
}

.nav-logo .logo-wrapper a img {
    height: 26px;
}

footer {
    padding-top: 0;
    color: #000;
    background-color: #e4e6e6;
    background:none;
}

    footer a {
        color: #000;
        text-decoration: none;
    }

        footer a:hover {
            color: #808080;
            text-decoration: underline;
        }

p.footer__horizontal-link.center-text mp {
    margin-left: 3%;
}