/*Menu Header*/
header {
    background-color: #140a9a;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 70px;
    height: unset;
}

ul.nav-menu li a {
    background-color: transparent;
    padding-top: 25px;
    color: #fff;
    font-weight: 700;
    font-family: "Noto Sans",sans-serif;
}

.searchBox input[type=text] {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 18px;
    padding-left: 40px;
    background: #140a9a;
    color: #fff;
    font-weight: 500;
    width: calc(100% - 44px);
}

    .searchBox input[type=text]::placeholder {
        color: #fff;
    }

.searchBox,
.searchBox .search-box-btn {
    background-color: #140a9a;
}

.navigation a:not(.logo-link):hover, .navigation a:active {
    color: #ffc82f;
    border-bottom: 3px solid #ffc82f;
}

.search-box-btn:hover {
    background-color: #140a9a;
}

.searchBox .search-box-btn:hover {
    opacity: 1;
}

.nav-menu {
    margin-left: 37%;
}

.nav-logo .logo-wrapper a img {
    height: 26px;
}

.dropdown-content {
    background-color: #140a9a;
    right: -2rem;
}

footer {
    padding-top: 0;
    color: #000;
    background-color: #e4e6e6;
    background: none;
}

    footer a {
        color: #000;
        text-decoration: none;
    }

        footer a:hover {
            color: #808080;
            text-decoration: underline;
        }

    footer .footer-container .container:before {
        height: unset !important;
    }

p.footer__horizontal-link.center-text mp {
    margin-left: 3%;
}

section.banner-section {
    background-color: #fff;
}

    section.banner-section h3 {
        color: #fff;
        z-index: 100;
        text-align: center;
    }

    section.banner-section .banner-text {
        text-align: center;
        margin-left: 30%;
        font-weight: 300;
    }

div.video-banner-section {
    position: absolute;
    left: -17%;
    width: 100%;
}

    div.video-banner-section video {
        margin: 0;
        overflow: hidden;
        object-fit: cover;
        width: 118rem;
        max-height: 40rem;
    }

.learn-more {
    margin-left: 45%;
    width: 10rem;
    background-color: #eda606;
    color: #000;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    z-index: 100;
}

    .learn-more:hover {
        background-color: #ffd87f;
        color: #000;
    }

.articles-section {
    padding: 2.813rem 3rem;
}

body .page-wrap .page-container-inner {
    background: none;
    background-color: #fff;
}

.articles-section {
    background: none;
    background-color: #fff;
    margin-top: 3%;
}

div.hr {
    margin-left: 0;
    margin-top: 2.5%;
    height: 3px;
    width: 100%;
}

div.hr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='462.5' height='2' viewBox='0 0 462.5 2'%3E%3Ctitle%3Edivider-dark-2%3C/title%3E%3Cpath d='M0,0H2V2H0ZM24,0h2V2H24ZM12,0h2V2H12ZM36,0h2V2H36ZM6,0H8V2H6ZM30,0h2V2H30ZM18,0h2V2H18ZM42,0h2V2H42ZM96,0h2V2H96Zm24,0h2V2h-2ZM108,0h2V2h-2Zm24,0h2V2h-2ZM102,0h2V2h-2Zm24,0h2V2h-2ZM114,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM204,0h2V2h-2Zm24,0h2V2h-2ZM198,0h2V2h-2Zm24,0h2V2h-2ZM210,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm12,0h2V2h-2Zm-6,0h2V2h-2ZM48,0h2V2H48ZM72,0h2V2H72ZM60,0h2V2H60ZM84,0h2V2H84ZM54,0h2V2H54ZM78,0h2V2H78ZM66,0h2V2H66ZM90,0h2V2H90Zm54,0h2V2h-2Zm24,0h2V2h-2ZM156,0h2V2h-2Zm24,0h2V2h-2ZM150,0h2V2h-2Zm24,0h2V2h-2ZM162,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM252,0h2V2h-2Zm24,0h2V2h-2ZM246,0h2V2h-2Zm24,0h2V2h-2ZM258,0h2V2h-2Zm24,0h2V2h-2Zm24,0h2V2h-2Zm24,0h2V2h-2ZM318,0h2V2h-2Zm24,0h2V2h-2ZM312,0h2V2h-2Zm24,0h2V2h-2ZM324,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM414,0h2V2h-2Zm24,0h2V2h-2ZM408,0h2V2h-2Zm24,0h2V2h-2ZM420,0h2V2h-2Zm24,0h2V2h-2ZM354,0h2V2h-2Zm24,0h2V2h-2ZM366,0h2V2h-2Zm24,0h2V2h-2ZM360,0h2V2h-2Zm24,0h2V2h-2ZM372,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm6,0h2V2h-2Z' fill='%23a5abaf'/%3E%3C/svg%3E");
    height: 3px;
    width: 100%;
}

.articles-section div.hr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='462.5' height='2' viewBox='0 0 462.5 2'%3E%3Ctitle%3Edivider-dark-2%3C/title%3E%3Cpath d='M0,0H2V2H0ZM24,0h2V2H24ZM12,0h2V2H12ZM36,0h2V2H36ZM6,0H8V2H6ZM30,0h2V2H30ZM18,0h2V2H18ZM42,0h2V2H42ZM96,0h2V2H96Zm24,0h2V2h-2ZM108,0h2V2h-2Zm24,0h2V2h-2ZM102,0h2V2h-2Zm24,0h2V2h-2ZM114,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM204,0h2V2h-2Zm24,0h2V2h-2ZM198,0h2V2h-2Zm24,0h2V2h-2ZM210,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm12,0h2V2h-2Zm-6,0h2V2h-2ZM48,0h2V2H48ZM72,0h2V2H72ZM60,0h2V2H60ZM84,0h2V2H84ZM54,0h2V2H54ZM78,0h2V2H78ZM66,0h2V2H66ZM90,0h2V2H90Zm54,0h2V2h-2Zm24,0h2V2h-2ZM156,0h2V2h-2Zm24,0h2V2h-2ZM150,0h2V2h-2Zm24,0h2V2h-2ZM162,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM252,0h2V2h-2Zm24,0h2V2h-2ZM246,0h2V2h-2Zm24,0h2V2h-2ZM258,0h2V2h-2Zm24,0h2V2h-2Zm24,0h2V2h-2Zm24,0h2V2h-2ZM318,0h2V2h-2Zm24,0h2V2h-2ZM312,0h2V2h-2Zm24,0h2V2h-2ZM324,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm24,0h2V2h-2ZM414,0h2V2h-2Zm24,0h2V2h-2ZM408,0h2V2h-2Zm24,0h2V2h-2ZM420,0h2V2h-2Zm24,0h2V2h-2ZM354,0h2V2h-2Zm24,0h2V2h-2ZM366,0h2V2h-2Zm24,0h2V2h-2ZM360,0h2V2h-2Zm24,0h2V2h-2ZM372,0h2V2h-2Zm24,0h2V2h-2Zm54,0h2V2h-2Zm6,0h2V2h-2Z' fill='%23a5abaf'/%3E%3C/svg%3E");
    height: 3px;
    width: 110rem;
    margin-left: -17%;
}

.article-tile.article-tile-large div.hr {
    margin-left: 0;
    margin-top: 2.5%;
    position: absolute;
    height: 3px;
    width: 100%;
}

h1, h2, h3, .h1, .h2, .h3 {
    color: #000;
    font-weight: 300;
    margin-top: 1.5rem;
}

.article-tile h2 {
    color: #000;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.article-tile p.article-tile-text {
    padding-top: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .article-tile-large .article-tile-info {
        padding-left: 3rem;
        padding-top: 31rem;
    }
}

.btn-more {
    background-color: #eda606;
    color: #000;
    padding: 10px 30px;
    width: 15rem;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none
}

    .btn-more:hover {
        background-color: #ffd87f;
    }

.article-tile.article-tile-large {
    margin-bottom: 5%;
}

body .page-wrap .page-container-inner {
    padding-bottom: 0 !important;
}

.articles-page .article-tile.article-tile-large div.hr {
    width: 70%;
}

.article-detail-page {
    background: unset;
}

.articles-page .articles-section {
    background: unset;
}

body.inverted .page-wrap .page-container-inner {
    background: unset;
    background-color: #fff;
}

body.inverted .footer-container {
    background: none;
    background-color: #e4e6e6;
}

.store-menu-list li a {
    width: 100%;
}

.store-menu-list li a {
    width: 100%;
}

.store-menu-list li:hover {
    background-color: #ffc82f;
    font-weight: 700;
}

.store-menu-list li {
    width: 100%;
}

    .store-menu-list li a {
        text-align: center;
    }

.store-menu-list {
    background-color: #fff;
}

.store-menu-list {
    background-color: #140a9a;
}

    .store-menu-list.row {
        border: 1px solid #000;
        height: 115rem;
        margin-right: 1rem;
    }

body.inverted .page-wrap .page-container-inner {
    padding: 1rem 3rem 3rem 4rem;
}

ul.product-info-group {
    background-color: #808080;
    padding: 2% 2% 2% 2%;
    opacity: 0.9;
    border-radius: 5%;
    display: none;
    font-weight: 300;
    font-size: 18px;
}

.product-tile:hover ul.product-info-group {
    display: block;
    color: #fff;
    padding: 2%;
    font-weight: 500;
}

.product-tile-price {
    color: red;
    font-size: x-large;
}

img.img-category {
    width: 100%;
}

.product-tile-info {
    padding: 0.5em;
    width: 100%;
}

.product-tile-image img {
    width: 50%;
}

h3.title-bold {
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 0;
}

figure.product-detail-image {
    width: 100%;
    border: unset !important;
}

    figure.product-detail-image img {
        height: 350px;
        margin-top: -15% !important;
    }

.product-detail .product-price {
    padding: 0;
}

.product-detail .available {
    color: #000;
}

.container:has(.store-menu-list) {
    width: 100%;
    padding: 0;
}

body.inverted .page-wrap .page-container-inner:has(.store-menu-list) {
    padding: 0;
}

.grp-products {
    padding-bottom: 10%;
}

.load-more-group {
    padding-top: 2rem;
    float: right;
    width: 15rem;
}

    .load-more-group a {
        padding: 7%;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        color: #000;
        border-radius: 1rem;
        background-color: #ffc82f;
    }

    .load-more-group:hover {
        padding-top: 1.5rem;
        transition: 0.5s;
    }

.pagination-container {
    top: 83rem;
    margin-left: 2rem;
    position: absolute;
}

.pagination > li.active {
    border: unset;
}

.pagination > li a,
.pagination > li span {
    padding: 9px 9px;
}

.pagination > li.active span {
    background-color: #140a9af5;
}

.pagination > li.active span {
    color: #fff;
    font-weight: 400;
    pointer-events: none;
}

.pagination > li:hover a {
    border: 1px solid #1200ff;
}

.page-container-inner:has(.komatsu-product-list) [data-ktc-search-exclude] .store-menu-list {
    height: 88rem;
}

.product-tile .product-tile-status {
    background-color: #140a9a;
}

body.inverted .page-wrap .page-container-inner:has(.product-detail) {
    margin-bottom: 2rem;
}

.cart-item-amount input {
    margin-right: 0.25rem;
}

    .cart-item-amount input[type="number"] {
        width: 3rem;
        float: left;
        text-align: center;
        margin-top: 0;
        border: 2px solid #BEBEBE;
        height: 2.6rem;
        margin-left: 10px;
    }

.cart-content {
    border: 2px solid #d9d4d4;
    padding: 3% !important;
    padding-top: 2% !important;
    width: 70%;
    margin-right: 2rem;
}

.cart-right-panel.floating-box {
    background-color: #fff;
    border: 3px solid #d9d4d4;
}

.checkout-button {
    background-color: red;
}

.additional-menu a {
    color: #fff;
}

.additional-menu input.search-box-btn {
    background: url(../Images/magnifier-dark.svg) no-repeat center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 1.15rem;
}

    .additional-menu input.search-box-btn:hover {
        background: url(../Images/magnifier-dark.svg) no-repeat center;
        background-color: #808080;
    }

.signin-register .zone-login {
    padding-left: 18%;
    margin-top: 2%
}

.login-container {
    background-color: #fff;
    padding-top: 4%;
    border-radius: 1rem;
    border: 2px solid #140a9a;
}

    .login-container .separator {
        width: 60%;
    }

    .login-container label,
    .login-container h2 {
        color: #000;
    }

    .login-container .btn-signin {
        background-color: #c29d4f;
    }

form .validation-summary-errors {
    width: 60%;
}

.logon-password-retrieval-link {
    background-color: transparent;
    display: block;
    padding: 10% 0%;
    margin: unset;
    top: unset;
    position: relative;
    color: #140a9a;
    font-weight: 300;
}

    .logon-password-retrieval-link span {
        margin-right: 2%;
    }

body.inverted .page-wrap .register-container {
    min-height: 820px;
}

.signin-register p,
.signin-register h3 {
    width: 60%;
}

.text-danger {
    color: red;
    font-weight: 400;
}

.signin-register input[type="email"] {
    width: 60%;
}

svg.list-icon {
    fill: #ffffff
}

.plr-3r {
    padding: 0 3rem;
}

.checkout-back-link a,
.continue-shopping-link a {
    color: #d12127;
    font-weight: 600;
}

form.shipping-cart-form,
.checkout-container .cart-content {
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #140a9a;
    margin: 3rem 0;
    padding-bottom: 3rem;
}

    form.shipping-cart-form h2 {
        text-align: center;
        font-weight: 500;
        color: red;
    }

    form.shipping-cart-form h4 {
        font-weight: 300;
    }

    form.shipping-cart-form .payment-container input[type="submit"] {
        background-color: red;
        font-weight: 400;
    }

        form.shipping-cart-form .payment-container input[type="submit"]:hover {
            background-color: rgba(39, 34, 25, 0.8);
        }

.delivery-details {
    background: unset;
}

.form-group-hidden {
    display: none;
}

.checkout-back-link a,
.continue-shopping-link a {
    color: #d12127;
    font-weight: 600;
}

.cart-content.w-100 {
    width: 100%;
}

.cart-right-container {
    padding-top: 0.25rem;
    padding-left: 2rem;
    border-left: 1px dotted #000;
    min-height: 35rem;
}

.cart-content.row {
    width: 100%;
}

.cart-left-container {
    padding-right: 0.5rem
}

.cart-right-panel.floating-box {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: -2rem;
}

.thank-you-content {
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #140a9a;
    margin-top: 10%;
    margin-left: 30%;
    width: 70%;
    padding: 3rem;
}

.youraccount-content {
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #140a9a;
    width: 70%;
    padding: 3rem;
    margin: 5rem 10%;
}

#order-detail-box h5 {
    font-size: 18px;
}

    h4 span,
    #order-detail-box h5 span {
        font-style: italic;
        font-weight: 400;
    }

.myaccount-infor {
    background-color: #f1f1f1;
    padding: 2rem;
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
}

.avatar-image {
    width: 15rem;
    height: 15rem;
    border: 1px solid #e8cfcf;
    border-width: 0.45rem;
    border-radius: unset;
    float: right;
}

.avatar-upload-info .text {
    margin-top: 6rem;
    margin-right: 6rem;
}

.orders-table .status {
    border: 1px solid #140a9a;
    color: #000;
    font-weight: 700;
    background-color: unset;
}

.orders-table .column-id {
    width: 30%;
}

.orders-table th {
    background-color: #140a9a;
    color: #fff;
    font-weight: 700;
}

.orders-table .column-id .strong {
    color: #140a9a;
    font-weight: 700;
}

body.inverted .page-wrap .page-container-inner #no-more-tables {
    padding: 5rem 20rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #140a9a;
    margin: 3rem 0;
    padding-bottom: 3rem;
}

table.orders-table {
    padding: 2rem;
    border: 3px solid #140a9a;
}

.column-total {
    font-weight: 600;
    color: red;
}

.back-account-link a {
    color: #140a9a;
    font-weight: 700;
}

#order-detail-box {
    padding: 5rem 10rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #140a9a;
    margin: 3rem 0;
    padding-bottom: 3rem;
}
