@model DancingGoat.Models.OrderAddressViewModel

<h5>Address Line1: <span>@Model.AddressLine1</span></h5>
<h5>Address City: <span>@Model.AddressCity</span></h5>
<h5>Address PostalCode: <span>@Model.AddressPostalCode@(string.IsNullOrEmpty(Model.AddressState) ? string.Empty : ", " + Model.AddressState)</span></h5>
<h5>Address Country: <span>@Model.AddressCountry</span></h5>
